<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doubleclick.widdingkmm.android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="s">
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".HashtagsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Profile.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Profile.ImagesActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".ui.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Chat.ChatListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>